{{# if success }}
{{ else }}
<div class="container">
    <header class="header">
        <h1 id="otsikko">{{ title }}</h1>
    </header>
    <div class="row-2">
        <form action="/signin" method="post" class="login">
            {{# if errors }}
            <section class="errors">
                <ul>
                    {{# each errors }}
                    <li>{{ this.msg }}</li>
                    <li>{{ message }}</li>
                    {{/each}}
                </ul>
            </section>
            {{/if}}
             {{# if error }}
            <section class="errors">
               <p>{{ error }}</p>
            </section>
            {{/if}}
            <h2 id="login-header">Kirjaudu sisään</h2>
            <label for="username">Tunnus:</label>
            <input class="input" type="text" name="username">
            <label for="password">Salasana:</label>
            <input class="input" type="password" name="password">
            <button class="button-green" type="submit">Kirjaudu</button>
            <a id="register-link" href="#">Rekisteröidy</a>
        </form>
    </div>  
    <div class="row-3">
    </div>
    <div id="dialog_rek">
        <form id="rek_form" name="rek_form">
            <div class="alert alert-error collapse" role="alert" id="nimityhja">
                <span>
                    <p>Nimi kenttä on tyhjä!</p>
                </span>
            </div>
            <label for="nimi">Nimi : </label>
			<input type="text" id="nimi" name="nimi">

            <br>

			<label for="osoite">Osoite : </label>
			<input type="text" id="osoite" name="osoite">

			<label for="tunnus">Tunnus : </label>
		    <input type="text" id="tunnus" name="tunnus">

			<label for="salasana">Salasana : </label>
			<input type="password" id="salasana" name="salasana">

            <label for="salasana2">Salasana uudelleen : </label>
			<input type="password" id="salasana2" name="salasana2">

			<label for="puh">Puhelinnumero</label>
			<input type="text" id="puh" name="puh">
		</form> 
    </div>
</div>
{{/if}}